.video-card {
  max-width: 650px;
  margin: auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.video-card h3 {
  font-weight: 600;
}

.create-courses{
  background: linear-gradient(190deg, #3b82f6, #a855f7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-courses input, textarea, select, button{
width: 600px;
height: 50px;
border-color:red ;
margin: 4px;
}