.home-btn{
    background-color:  #1967d2;
    height: 42px;
    width: 200px;
  
      font-size: 20px;
    border-radius: 8px;
     color: white;
    

}
.course_cart :hover{

  background: rgb(226, 207, 207);
}